* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1219px;
  padding: 75px 0 0 0;
  background-color: darkgray;
}
.main-header {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  font-family: gillroy;
  font-weight: normal;
  z-index: 21;
}
.navigation-container {
  background-color: black;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}
.main-logo {
  display: block;
  float: left;
  margin: 10px;
  max-width: 200px;
}
.main-navigation {
  position: absolute;
  right: 50px;
}
.menu-item {
  display: inline-block;
  position: relative;
  height: 100%;
  margin: 10px;
  padding: 8px 0 5px 0;
  font-size: 25px;
  max-width: 200px;
  position: relative;
  white-space: now;
  color: #009877;
}
a {
  text-decoration: none;
  color: #009877;
}
.piper-net {
  display: flex;
  position: relative;
  width: 100vw;
  max-height: 23vw;
  height: 23vw;
  background: url(../images/image-8.png) 100% 100% no-repeat;
  background-size: 100% 100%;
  background-color: #009877;
  justify-content: center;
  align-items: center;
}
.piper-net-text {
  display: flex;
  align-self: center;
  color: azure;
  font-size: 50px;
  font-family: Roboto;
}

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  padding-left: 0;
  padding-right: ;
  background-image: url('https://i.ibb.co/PM6cMBn/image.png');
  background-size: cover;
  background-position: center center;
  left: 0;
  right: 0;
  width: 100%;
}

.hero__message {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
  width: 100%;
}